<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Own Your Music</title>
    </head>
    <body>
        <h1>Own Your Music</h1>

        {{if .NeedsCredentials}}
        <form hx-post="/update-spotify-credentials" hx-swap="none">
            <div class="mb-4">
                <label for="clientId"> Client ID </label>
                <br />
                <input type="text" id="clientId" name="clientId" required />
            </div>
            <div class="mb-6">
                <label for="clientSecret"> Client Secret </label>
                <br />
                <div class="relative">
                    <input
                        type="password"
                        id="clientSecret"
                        name="clientSecret"
                        required
                    />
                    <button type="button" onclick="togglePasswordVisibility">
                        Show password
                    </button>
                </div>
            </div>
            <br />
            <button type="submit">Update Credentials</button>
        </form>

        <script>
            function togglePasswordVisibility() {
                const clientSecretInput =
                    document.getElementById("clientSecret");
                const button = document.querySelector(
                    'button[onclick="toggleClient SecretVisibility()"]',
                );
                if (clientSecretInput.type === "clientSecret") {
                    clientSecretInput.type = "text";
                    button.textContent = "Hide";
                } else {
                    clientSecretInput.type = "clientSecret";
                    button.textContent = "Show";
                }
            }
        </script>
        {{end}}

        <br />

        {{if .AuthUrl}}
        <a target="_blank" href="{{.AuthUrl}}">
            <button>Authenticate with Spotify</button>
        </a>
        {{end}} {{if .CanLoadSpotifySongs}}
        <button hx-get="/load-spotify-songs">Load Spotify songs</button>
        {{end}}

        <ul id="spotify-songs" hx-ext="sse" sse-connect="/sse" sse-swap="message">
            {{if .Tracks}} {{block "components/spotify-tracks" .Tracks}}{{end}}
            {{else}}
            <p>Here would go my tracks, if I had some :(</p>
            <button hx-get="/load-spotify-songs" hx-swap="outerHTML">Load tracks!</button>
            {{end}}
        </ul>
    </body>

    <script src="/public/htmx.js"></script>
    <script src="/public/htmx-ext-sse.js"></script>

    <!-- uncomment to test sse -->
    <script>
        document.body.addEventListener("htmx:sseBeforeMessage", function (e) {
            console.log("before message", e);
        });

        document.body.addEventListener("htmx:sseOpen", function (e) {
            console.log("sseOpen", e);
        });

        document.body.addEventListener("htmx:sseError", function (e) {
            console.log("error", e);
        });

        document.body.addEventListener("htmx:sseBeforeMessage", function (e) {
            console.log("beforemsg", e);
        });

        document.body.addEventListener("htmx:sseMessage", function (e) {
            console.log("message", e)
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: "smooth"
            })
        });

        document.body.addEventListener("htmx:sseClose", function (e) {
            console.log("close", e);
        });
    </script>
</html>
